* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    font-family: 'Rajdhani', sans-serif;
}

/* header */

header {
    position: fixed;
    top:0;
    left:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 69px;
    background-color: rgba(32, 29, 36, 0.78);
    z-index: 100;

}

.logo {
    margin-left: 37px;
    width:53px;
    height: 53px;
}

.container-menu-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 177px;
    height: 39px;
    margin-right: 25px;
}

.text-user-name {
    font-size: 24px;
    font-weight: 400;
    color: white;
}

button {
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: #F9E8D6;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}

.exit-button {
    width: 80px;
    height: 39px;
    font-size: 18px;
    font-weight: 500;
}

.exit-button:hover {
    background-color: #EEDECC;
    cursor: pointer;
}

/* Блок добавления твита и кнопка фильтра */

aside {
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 195px;
    margin-top: 4.3rem;
    background-color: #F4F4F4;
}

.filter-button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 137px;
    height: 50px;
    margin-left: 37px;
    margin-top: 19px;
}

.filter-button:hover {
    background-color: #EEDECC;
    cursor: pointer;
}

.text-filter-name {
    margin-right: 12px;
    font-size: 24px;
    font-weight: 600;
}

.container-add-twit {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 792px;
    height: 217px;
    margin-top: 19px;
    margin-right: 394px;
}

.textarea-add-twit {
    padding: 19px 17px;
    width: 792px;
    height: 87px;
    border-radius: 10px;
    resize: none;
    border: solid black 2px;
    background-color: #F9F9F9;
}

.add-twit-button {
    margin-top: 24px;
    width: 166px;
    height: 36px;
    font-size: 18px;
    font-weight: 500;
}

.add-twit-button:hover {
    background-color: #EEDECC;
    cursor: pointer;
}

/* Контейнер для main */

.container-main {
    display: flex;
    justify-content: center;
    background-color: rgba(210, 190, 250, 0.62);
}

/* контейнер фильтра */

.container-filter {
    visibility: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.7em 3em;
    left: 0.1rem;
    top: 9rem;
    width: 26rem;
    height: 31.3rem;
    border-radius: 10px;
    border: 2px solid black;
    background-color: #F9F9F9;
}

.show-block {
    visibility: visible;
}

.title-with-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
}

.title-with-container>span {
    font-size: 18px;
    font-weight: 500;
}

.choose-user-name {
    width: 6.8rem;
    height: 2.1rem;
    border-radius: 10px;
    border: 2px solid black;
}

.choose-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.choose-date>input {
    width: 9rem;
    height: 2.1rem;
    padding: 0 0.5rem;
    border-radius: 10px;
    border: 2px solid black;
}

.choose-date>.iconify {
    margin: 0 0.5rem;
    font-size: 20px;
}

.context-input {
    width: 20.3rem;
    height: 2.1rem;
    padding: 0 0.5rem;
    border-radius: 10px;
    border: 2px solid black;
}

.add-tag {
    display: flex;
    justify-content: space-between;
    width: 20.3rem;
}

.input-tag {
    width: 5.5rem;
    height: 2.1rem;
    padding: 0 0.5rem;
    border-radius: 10px;
    border: 2px solid black;
}

.button-add-tag {
    height: 0;
    background-color: transparent;
    box-shadow: 0 0 0;
    font-size: 34px;
    padding: 0 6rem 0.1rem 0rem;
}

.button-add-tag:hover {
    color: #A382E5;
    cursor: pointer;
}

.save-button {
    width: 5.25rem;
    height: 2rem;
    font-size: 14px;
    font-weight: 600;
}

.save-button:hover {
    background-color: #EEDECC;
    cursor: pointer;
}

.container-filter>hr {
    width: 20.3rem;
}

.tags-list {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    width: 20.3rem;
    margin-bottom: 0.5rem;
}

.tags-list>div {
    width: 4.3rem;
    height: 1.5rem;
    padding: 0.2rem 1rem 1rem 1rem;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    border-radius: 20px;
    background-color: #A382E5;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
}

.delete-small-button {
    position: relative;
    bottom: 1.6rem;
    left: 1.8rem;
    background-color: transparent;
    box-shadow: 0 0 0;
    opacity: 0;
}

.delete-small-button > img {
    width:15px;
    height: 15px;
}

.delete-small-button:hover {
    opacity: 100%;
    cursor: pointer;
}

/* Main */

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 915px;
    background-color: white;
}

article {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 714px;
    height: 200px;
    margin-top: 43px;
    margin-bottom: 24px;
    padding-right: 35px;
    background-color: #e5c891;
    box-shadow: 4px 2px 7px rgba(0, 0, 0, 0.25);
}

.delete-button {
    position: relative;
    left: 625px;
    bottom: 78px;
    background-color: transparent;
    box-shadow: 0 0 0;
    opacity: 0;
}

.delete-button:hover {
    opacity: 100%;
    cursor: pointer;
}

.delete-img {
    width: 35px;
    height: 35px;
}

.avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 81px;
    height: 104px;
    margin-bottom: 20px;
    margin-right: 23px;
}

.img-avatar {
    width: 97px;
    height: 97px;
    margin-bottom: 4px;
    border-radius: 10px;
    border: 1px solid #F6F1F1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.name-avatar {
    font-size: 16px;
    font-weight: 600;
}

.twit-information {
    display: flex;
    flex-direction: column;
    width: 435px;
    height: 124px;
}

.twit-text {
    width: 435px;
    height: 96px;
    padding: 7px 11px;
    resize: none;
    font-size: 13px;
    font-weight: 500;
    background-color: #EBEAE9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #B0AEAA;
}

.twit-dates {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    width: 435px;
    height: 30px;
}

.twit-date-and-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 119px;
    height: 25px;
}

.date-information {
    margin-right: 10px;
    font-size: 15px;
    font-weight: 500;
}

.time-information {
    font-size: 15px;
    font-weight: 500;
}

.edit-and-comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 117px;
    height: 25px;
}

.edit-button {
    width: 65px;
    height: 24px;
    font-size: 14px;
    font-weight: 600;
}

.edit-button:hover {
    background-color: #EEDECC;
    cursor: pointer;
}

.twit-comments {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 39px;
    height: 25px;
    margin-top: 1px;
}

.comment-img {
    width: 23px;
    height: 23px;
    margin-right: 2px;
}

.comment-count {
    font-size: 15px;
    font-weight: 400;
}

.load-button {
    width: 206px;
    height: 37px;
    margin-bottom: 69px;
    margin-top: 45px;
    font-size: 24px;
    font-weight: 500;
}

.load-button:hover {
    background-color: #EEDECC;
    cursor: pointer;
}

/* footer */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 69px;
    width: auto;
    background-color: rgba(32, 29, 36, 0.78);
}

.name-of-web-site {
    margin-left: 37px;
    font-size: 24px;
    font-weight: 600;
    color: white;
}

.name-of-creator {
    margin-left: 95px;
    font-size: 18px;
    font-weight: 500;
    color: white;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 242px;
    height: 48px;
}

.container-gmail-information {
    display: flex;
    align-items: flex-end;
    width: 214px;
    height: 15px;
}

.text-email {
    margin-left: 3px;
    font-size: 14px;
    font-weight: 500;
    color: white;
}

.last-date-change {
    display: flex;
    align-items: center;
    width: 214px;
    height: 15px;
}

.text-last-date-change {
    margin-left: 3px;
    font-size: 14px;
    font-weight: 500;
    color: white;
}